run = "python3 -m http.server 8080"
modules = ["nodejs-20", "python-3.11"]

[nix]
packages = ["psmisc", "gh"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[agent]
expertMode = true
